.container{
    -fx-background-color: #eceff1;
}
.card3{
    -fx-background-color: #9fa8da;
}
.card2{
    -fx-background-color: #a5d6a7;
}
.card1{
    -fx-background-color: #ff7d47;
}
.cardText{
    -fx-text-fill: #686868;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
}
.cardHeader{
    -fx-font-size: 25;
}
.cardNumber{
    -fx-font-size: 20;
}

.position{
    -fx-font-family: "Calibri Light";
}
.button{
    -fx-background-color: #42a5f5;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #686868;
    -fx-font-family: Calibri;
    /*-fx-pref-width: 150;*/
    /*-fx-pref-height: 50;*/
    -fx-font-size: 20;
    -fx-background-radius: 10;
}
.button:hover{
    -fx-background-color: #64b5f6;
    -fx-text-fill: #ffffff;
}
.imgButton{
    -fx-background-color: #9fa8da;
    -fx-border-width: 0;
    -fx-background-radius: 50%;
    -fx-pref-height: 55;
    -fx-pref-width: 55;
    -fx-text-fill: #686868;
}
.imgButton:hover{
    -fx-background-color: #c5cae9;
}