.left_side{
    -fx-background-color: #283593;
}
.transparent{
    -fx-background-color: transparent;
}
.button{
    -fx-background-color: #2196f3;
    -fx-background-radius: 15px;
    -fx-font-family: Calibri;
}
.buttonLogin{
    -fx-text-fill: #eceff1;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
.btnExit{
    -fx-background-color: transparent;
    -fx-text-fill: #686868;
    -fx-font-size: 30;
}
.imgLogin{
    -fx-rotate: 90;
}
.jfx-text-field {
    -fx-prompt-text-fill: #989898;
    -fx-text-fill: #686868;
    -fx-font-family: Calibri;
    -fx-font-size: 15px;
}
.container{
    -fx-background-radius: 10px;
}