.left_side{
    -fx-background-color: #283593;
}
.transparent{
    -fx-background-color: transparent;
}
.buttonLogin{
    -fx-background-color: #2196f3;
    -fx-background-radius: 15px;
}
.jfx-text-field {
    -fx-prompt-text-fill: #989898;
    -fx-text-fill: #686868;
    -fx-font-family: Calibri;
    -fx-font-size: 15px;
}
.container{
    -fx-background-radius: 10px;
}